.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.margin-left {
    margin-left: 20px;
}

.line-vertical {
    width: 10px;
    height: 200px;
    background: blue;
}

.line-horizontal {
    width: 100%;
    height: 10px;
    background: blue;
}
